root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.java]
ij_java_class_count_to_use_import_on_demand = 999
ij_java_names_count_to_use_import_on_demand = 999

[*.{kt,kts}]
indent_size = 4
indent_style = space
max_line_length = 100
ij_kotlin_allow_trailing_comma = true
ij_kotlin_allow_trailing_comma_on_call_site = true
ij_kotlin_name_count_to_use_star_import = 999
ij_kotlin_name_count_to_use_star_import_for_members = 999

# Import ordering
ij_kotlin_imports_layout = *, java.**, javax.**, kotlin.**, ^

[*.{gradle,gradle.kts}]
indent_size = 4
indent_style = space

[*.{xml,html}]
indent_size = 4
indent_style = space

[*.{yml,yaml}]
indent_size = 4
indent_style = space

[*.md]
trim_trailing_whitespace = false
